.cart-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 16px;
  align-items: center;
  padding: 16px 0;
}

.cart-item:not(:first-child) {
  border-top: 1px dashed var(--light-gray);
}

.cart-item:last-child {
  padding-bottom: 0;
}

.cart-item-img {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  height: 100%;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-details h4 {
  line-clamp: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.cart-item-name-and-customizations {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 150px;
}

.empty-cart-section {
    height: 200px;
    padding: 40px 0;
    text-align: center;
}

.cart-empty-submessage {
    margin: auto;
    max-width: 300px;
}

.customizations {
  color: var(--gray);
  font-size: 0.875rem;
  max-width: 75%;
  margin: 0;
}

.cart-item-actions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.cart-item-actions .edit-btn {
  background: none;
  border: none;
  color: var(--black);
  font-size: 0.875rem;
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: underline;
  text-underline-offset: 6px;
  cursor: pointer;
}

/* Cart Summary Styles */

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}